<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trictionary.jumproper.com.jumpropetrictionary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_alpha"
        android:label="@string/app_label"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_label"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".Tricktionary"
            android:label="@string/title_activity_tricktionary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:noHistory="false"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".TrickList"
            android:label="@string/title_activity_tricks_by_level" />
        <activity
            android:name=".ShowMainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Show"
            android:label="Show" />
        <activity
            android:name=".Names"
            android:label="Jump Rope Show Writer"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".UnsortedShow"
            android:label="Unsorted Show" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".SearchTricks">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".TrickTree"
            android:label="@string/title_activity_trick_tree" />
        <activity
            android:name=".TreeVisual"
            android:label="@string/title_activity_tree_visual" />
        <activity
            android:name=".Speed"
            android:label="@string/title_activity_speed"
            android:noHistory="true" />
        <activity
            android:name=".SpeedGraph"
            android:label="@string/title_activity_speed_graph" />
        <activity android:name=".PublicSpeedData"/>
    </application>

</manifest>